
<%= labelled_form_for @two_step_auth, method: :put, url: check_two_step_path do |f| %>
<div id="login-form">
<table>
  <tbody>
    <tr>
      
        <td><%= f.password_field :gauthcode %>
        <%= f.submit "Verify" %>
        </td>
    </tr> 
  
  </tbody>
</table>
</div>
<% end %>